<% @groups.each do |g| %>
<div class="card mb-3 mt-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-sm-4">
      <img src="..." alt="...">
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title"><%= g.name %></h5>
        <p class="card-text"><small class="text-muted"><%= g.created_at %></small></p>
      </div>
    </div>
  </div>
</div>
<% end %>
<div><%= link_to "Create new group", new_group_path, class: "btn btn-success wide" %></div>
