@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$app-blue: #3778c2;
$app-green: #5fb523;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
}

/* typography */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.header {
  background: $app-blue;
}

nav {
  a {
    color: #fff;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $app-blue;
  color: $gray;
  a {
    color: $gray;
    &:hover {
      color: $app-blue;
    }
  }
  small {
    float: left;
  }
}

/* forms */
input, textarea, .wide {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 5px;
  @include box_sizing;
}
input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
