<div class="container">
  <h4>Exercises</h4>
  <h3>Total Hours: <%= sum %> Hours</h3>
  <div class="row">
    <%= show_exercise %>
  <div><%= link_to "Create new exercise", new_exercise_path, class: "btn btn-success wide" %></div>
</div>
